.featured {
  flex: 2;
  box-shadow: 3px 3px 5px -1px rgba(143, 143, 143, 0.75);
  -webkit-box-shadow: 3px 3px 5px -1px rgba(143, 143, 143, 0.75);
  -moz-box-shadow: 3px 3px 5px -1px rgba(143, 143, 143, 0.75);
  padding: 10px;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    .title {
      font-size: 1rem;
      font-weight: 500;
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    .featuredChart {
      width: 100px;
      height: 100px;
    }
    .title {
      font-weight: 500;
      color: gray;
    }
    .amount {
      font-size: 2rem;
      font-weight: bold;
    }
    .desc {
      font-weight: 300;
      color: gray;
      text-align: center;
    }
    .summary {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .item {
        text-align: center;
        .itemTitle {
          font-size: 1rem;
          color: gray;
        }
        .itemResult {
          display: flex;
          align-items: center;
          margin-top: 10px;
          font-size: 0.9rem;
          font-weight: bold;
          &.positive {
            color: #00b300;
          }
          &.negative {
            color: #ff0000;
          }
        }
      }
    }
  }
}
